button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
canvas {
    image-rendering: pixelated;
    margin: auto;
    vertical-align: middle;
}

#titlescreen{
    position: relative;
    background-image: url("res/titlescreen/titlebgv1.png");
    width: 1280px;
    height: 720px;
    margin: auto;
}

#startcont{
    position: relative;
    top: 80%;
}